/* BASE STYLES ------------------------------------------------- */

/* to-do: establish standard reset/base styles */
html, body {
  padding: 0; margin: 0;
  font-family: Helvetica, Arial, 'sans serif';
  font-size: 100%;
}

p, ul, ol, li {
  margin: 0; padding: 0;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0; padding: 0;
}


/* CORE LAYOUT ------------------------------------------------- */

/* define the main-wrapper layout */
.main-wrapper{
  display: grid;
  width: 100%;
  grid-template-areas:
  'header header header header header header'
  'main main main main sidebar sidebar'
  'footer footer footer footer footer footer';
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

/* basic styling for each layout section */
.main-wrapper > div {
  background-color: #f5f5f5;
  padding: 10px;
}

/* CONTENT AREAS ----------------------------------------------- */
.header {
  grid-area: header;
   }
.main-content { 
  grid-area: main;
  padding: 40px 40px;
  background-color: #ffffff;
 }
.sidebar { 
  grid-area: sidebar;
 }
.footer { 
  grid-area: footer;
 }

 /* MEDIA QUERIES ----------------------------------------------- */

 @media only screen and (max-width: 800px) {
  .main-wrapper{
    display: grid;
    width: 100%;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'sidebar sidebar sidebar sidebar sidebar sidebar'
    'footer footer footer footer footer footer';
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    padding: 10px; /* apply some outer padding when breaking */
  }
}